{% extends 'base.html.twig' %}

{% block title %}Eri-cipe - My Ingredients!
{% endblock %}

{% block body %}
	<div class="container">
		{% if not ingredients.items is same as ([]) %}
			<h1 class="mt-4">My Ingredients</h1>

			<a href="{{ path('ingredient.new') }}" class="btn btn-primary">Create an ingredient</a>

			{% for message in app.flashes('succes') %}
				<div class="alert alert-succes mt-4">
					{{ message }}
				</div>
			{% endfor %}


			<div class="count mt-4">
				<h4>There're
					{{ ingredients.getTotalItemCount }}
					ingredients in total</h4>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">N°</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Creation date</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients %}
						<tr class="table-primary">
							<th scope="row">{{ ingredient.id }}</th>
							<td>{{ ingredient.name }}</td>
							<td>{{ ingredient.price }}</td>
							<td>{{ ingredient.createdAt|date('d/m/y') }}</td>
							<td>
								<a href="{{ path('ingredient.edit', {id: ingredient.id}) }}" class="btn btn-info">Update</a>
							</td>
							<td>
								<a href="{{ path('ingredient.delete', {id: ingredient.id}) }}" class="btn btn-warning">Delete</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(ingredients) }}
			</div>
		{% else %}
			<h4>There's no ingredient</h4>
		{% endif %}
	</div>
{% endblock %}
